@import '@fontsource/overpass';
@import '@fontsource/roboto-mono';
@import '@fontsource/sue-ellen-francisco';
@import 'prismjs/themes/prism-tomorrow.css';

* {
	position: relative;
	box-sizing: border-box;
}

body {
	--font: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--red: rgb(200, 63, 55);
	--green: rgb(45, 164, 55);
	background: #111;
	color: #ddd;
	font-family: var(--font);
	/* font-size: 1vw; */
	tab-size: 2;
}

.slide {
	display: flex;
	aspect-ratio: 16 / 9;
	flex-direction: column;
	overflow: hidden;
	gap: 2em;
	align-items: center;
	justify-content: center;

	h1 {
		/* text-transform: uppercase; */
		font-size: 5em;
		line-height: 1;
		margin: 0;
		font-weight: 200;
		max-width: 12em;
		text-align: center;
	}

	small {
		display: block;
		font-size: 0.4em;
		margin: 0 0 0.5em 0;
		letter-spacing: 0.1em;
	}

	p {
		margin: 0;
		font-size: 2em;
	}

	ul {
		padding-left: 2rem;
	}

	li {
		font-size: 3em;
		list-style: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	pre code {
		font-size: 3em;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	/* slide utility styles */
	.absolute {
		position: absolute;
	}

	.max {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	.spice-level {
		font-size: 4em;
		display: flex;
	}

	.faded {
		filter: grayscale(1) opacity(0.8);
	}
}
